$primary-color:#fe5000;
$primary-color-t1:#F69C50;
$primary-color-t2:#FF9665;
$primary-color-t3:#FFB999;
$primary-color-t4:#ffdccc;
$primary-color-t5:#ffebe3;
$primary-color-s1:#CB4000;
$primary-color-s2:#983000;
$primary-color-s3:#662000;
$primary-color-s4:#331000;
$secondary-color:#6DCDB8;
$secondary-color-t1:#8ad7c6;
$secondary-color-t2:#a7e1d4;
$secondary-color-t3:#c5ebe3;
$secondary-color-s1:#40bba0;
$secondary-color-s2:#308c78;
$secondary-color-s3:#205e50;

/*//neutral colors*/
$font-color: #333333;
$charcoal-grey:#404041;
$dark-grey:#929497;
$light-grey:#c6c7c8;
$off-grey :#E6E7E8;
$silver-grey:#f6f7f7;
$page-background:#f4f5f7;
$off-white:#fcfcfc;
$light-blue-base :#f5f8ff;
$teal-base :#c5ebe3;
$orange-base :#fff6f0;
$white:#ffffff;
$border-radius:4px;
$text-color:#333333;

$disabled-button-text-color:#929497;
$disabled-button:#E6E7E8;


