.sidebarWrapper{
    background-color: white;
    list-style-type: none;
    width: fit-content;
    height: 100%;
    padding: 1%;
    border-right: 0.5px solid #e8e8e8;
}
.listWrapper{
    margin-bottom: 6vh;
}